<section class="section">
    <div class="container">
        <form class="form" action="">
            <div class="field">
                <label class="label">Search</label>
                <input #searchBox (keyup)="onKeyChange()" type="text" name="q" class="input" [(ngModel)]="q"
                    #nameInput="ngModel" />
            </div>
        </form>
    </div>
</section>
<section class="section">
    <div class="container">
        <div class="columns is-multiline" *ngIf="articles">
            <div class="column is-3" *ngFor="let article of articles">
                <div class="card">
                    <div class="card-image">
                        <figure class="image is-4by3">
                            <img src="../../assets/img/placeholder.jpg" alt="media image">
                        </figure>
                    </div>
                    <div class=card-header>
                        <div class=card-header-title>
                            {{article.headline.main}}
                        </div>
                    </div>
                    <div class="card-content">
                        <div class="media">
                            <div class="media-content">
                                <p class="title is-5">
                                    {{article.byline.original !== null? article.byline.original.substr(3) : 'John Smith'}}
                                </p>
                            </div>
                        </div>

                        <div class="content">
                            {{article.abstract}}
                            <br>
                            <time>{{article.pub_date}}</time>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>