<section class="section">
    <div class="container">
        <div class="articles" *ngIf="articles">
            <div class="" *ngFor="let article of articles">
                <div class="card center article">
                    <div class="card-content">
                        <a routerLink="/articles/{{ articles.abstract }}">
                            {{article.abstract}}
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>